* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    overflow-y: auto;
    overflow-x: hidden;
}

header {
    background-color: #242424;
    color: white;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 160px;
    z-index: 1;
}

.logo-img {
    max-width: 190px;
    position: absolute;
    top: 0px;
    left: 20px;
    float: left;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 10px;
    padding-right: 100px;
}

nav ul li a {
    
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

ul li a:hover {
    color: #b5b5b5;
}

.buscador {
    position: relative;
    bottom: 30px;
    right: 40px;
    float: right;
}

.buscar-input {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    width: 200px;
    outline: none;
}

div ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 70px;
    padding-left: 100px;
}

div ul li a {
    
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

/* contenido */

.help-section {
    text-align: center;
    padding: 40px;
    background-color: #fff;
}

.help-section h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding-top: 100px;
    max-width: 1200px;
    margin: 0 auto;
}

.item {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.item:hover {
    transform: translateY(-5px);
}

.item i {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
}

.item p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

h1 {
    padding: 100px 50px 59px 50px;
}

